* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #444;
  background-color: #f7f5f3;
  font-family: sans-serif;
}

.container {
  width: auto;
  margin: 0 auto;
}

.title {
  font-size: 36px;
  text-transform: uppercase;
  background-color: #bed8ee;
}

/* ------   PROFILE CONTAINER   ------ */
.profile-container {
  display: flex;
  gap: 25px;
  margin-top: 15px;
}

.profile-image {
  width: 260px;
  height: 350px;
}

.profile-bio {
  font-size: 18px;
}

/* ------   HOBBIES CONTAINER   ------ */
.hobbies {
  background-color: #f0f8ff;
  margin-top: 20px;
  border-bottom: solid 4px #bed8ee;
}

.hobbies-title {
  font-size: 28px;
  text-transform: uppercase;
  text-align: center;
  background-color: #bed8ee;
}

.hobbies-container {
  display: flex;
  /* gap: 15px; */
}

.hobbie-1 {
  text-align: center;
  border-right: solid 4px #bed8ee;
}

.hobbie-2 {
  text-align: center;
  border-right: solid 4px #bed8ee;
}

.hobbie-3 {
  text-align: center;
}

/* ------   INFO CONTAINER   ------ */
.info-container {
  display: flex;
  /* justify-content: center; */
  /* flex: 1; */
  margin-top: 15px;
}

.list-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 40%;
  align-content: center;
  background-color: red;
}

.website-information-container {
  display: flex;
  flex-direction: column;
  flex: 60%;
}

.website-information {
  border: solid 4px #bed8ee;
  /* width: 50%; */
  /* flex: 1; */
}

.my-list {
  list-style: none;
  letter-spacing: 1.5cqmax;
}
